<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Paweł Szopiński">
  <meta name="description" content="Software engineer exploring web development. Join me as I share my journey, sharing insights and projects along the way.">
  <meta property="og:image" content="https://www.pawelszopinski.com/assets/images/logo.png">
  <meta property="og:url" content="https://www.pawelszopinski.com">
  <title>{% if page.title %}{{ page.title }} – {% endif %}Paweł Szopiński</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  </style>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/base.css">
  <link rel="stylesheet" href="assets/css/bootstrap-icons.css">
  {% if page.stylesheet_url %}<link rel="stylesheet" href="{{ page.stylesheet_url }}">{% endif %}
</head>