<header class="header segment">
  <div class="segment-content flex-container">

    <a href="/" title="Home" class="logo">
      <svg viewBox="0 0 70 100">
        <use href="assets/images/symbols.svg#logo" />
      </svg>
    </a>

    <button title="Menu" id="open-mobile-menu">
      <i class="bi bi-list"></i>
    </button>

    <button title="Close" id="close-mobile-menu">
      <i class="bi bi-x-lg"></i>
    </button>

    <nav class="main-nav">
      <ul>
        {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.link }}" {% if page.url==item.link %} class="current" {% endif %}>
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    {% include social_media_icons.html %}

  </div>
</header>

<script src="assets/js/mobile-menu.js"></script>