#introduction {
  min-height: 60vh;
  display: flex;

  background-color: var(--yellow);
}

#introduction a {
  text-decoration-color: currentColor;
}

#introduction .segment-content {
  max-width: calc(var(--max-width) * 0.8);
}